<tr id="<%= dom_id person %>">
  <td><%= person.id %></td>
  <td><%= person.first_name.value %></td>
  <td><%= person.last_name.value %></td>
  <td><%= person.age.value %></td>
  <td><%= person.any_pets.value %></td>
</tr>
