<div id="<%= dom_id person %>">
  <p>First Name: <%= person.first_name.value %></p>
  <p>Last Name: <%= person.last_name.value %></p>
  <p>Age: <%= person.age.value %></p>
  <p>Pets: <%= person.any_pets.value %></p>
</div>
